/*
style for application
*/
<style>.rChart{width: 600px; height:400px;}</style>

body {
  margin-top:50px;
}

.navbar .brand {
  margin-left: 5px;
  margin-top: 2px;
}

.navbar form {
  margin-top: 5px;
  margin-bottom: 0px;
}

#btnConv {
  margin-top: 0px;
}

#menu1 input, #menu1 .btn, #menu2 .btn {
  margin-top: 5px;
}

#menu1 input {
  height: 16px;
}

#menu3 {
  float: left;
}
#menu3 label {
  min-height: 12px;
  max-height: 12px;
  margin-top: 2px;
}
#menu3 input {
  margin-left: 10px;
}

#menu4 label {
  min-height: 12px;
  max-height: 12px;
  padding-top: 1px;
}
#menu4 input {
  margin-left: 10px;
}

@media all and (max-width: 760px) {
  #menu1,#menu2,#menu3,#menu4{
    display: none;
  }
}

.clear {
  clear:both;
}

.focus {
  border: thin #eeeeee solid;
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

.display-none {
  display:none;
}

#in {
  float: left;
  margin-left:5px;
}
@media all and (min-width: 760px) {
  #in {
    width:45%;
    height:1000px;
  }
}
#out {
  float:left;
  margin-left: 30px;
  padding:5px;
}
@media all and (min-width: 760px) {
  #out {
    width:50%;
  }

#progress {
  z-index:5px;
}

.alert {
  margin:5px 5px;
 }

.alert .close {
  float: left;
  right: 0px;
 }