<script type="text/javascript">
  var opts = {{{ opts }}},
    data = {{{ data }}},
    xAxis = {{{ xAxis }}},
    yAxis = {{{ yAxis }}},
    legend = {{{ legend }}};
  var svg = dimple.newSvg("#" + opts.id, opts.width, opts.height);

  //data = dimple.filterData(data, "Owner", ["Aperture", "Black Mesa"])
  var myChart = new dimple.chart(svg, data);
  //myChart.setBounds(80, 30, 480, 330);
  //for markimekko and addAxis also have third parameter measure
  //so need to evaluate if measure provided
  var x;
  if(xAxis.measure) {
    x = myChart[xAxis.type]("x",opts.x,xAxis.measure);
  } else {
    x = myChart[xAxis.type]("x", opts.x);
  };
  if(!(xAxis.type === "addPctAxis")) x.showPercent = xAxis.showPercent;
  if (xAxis.orderRule) x.addOrderRule(xAxis.orderRule);
  var y;
  if(yAxis.measure) {
    y = myChart[yAxis.type]("y",opts.y,yAxis.measure);
  } else {
    y = myChart[yAxis.type]("y", opts.y);
  };
  if(!(yAxis.type === "addPctAxis")) y.showPercent = yAxis.showPercent;
  if (yAxis.orderRule) y.addOrderRule(yAxis.orderRule)
  //here need think I need to evaluate group and if missing do null
  //as the first argument
  //if provided need to use groups from opts
  var s = myChart.addSeries(!opts.hasOwnProperty("groups") ? null : opts.groups, eval(opts.type));   //know eval is evil but don't know a way around it in this case
  //unsure if this is best but if legend is provided (not empty) then evaluate
  if(d3.keys(legend).length > 0) {
    var l =myChart.addLegend();
    d3.keys(legend).forEach(function(d){
      l[d] = legend[d];
    });
  }
  //quick way to get this going but need to make this cleaner
  if(opts.storyboard) {
    myChart.setStoryboard(opts.storyboard);
  };
  myChart.draw();

</script>
