<script type="text/javascript">
  var opts = {{{ opts }}},
    data = {{{ data }}};
  var svg = dimple.newSvg("#" + opts.id, opts.width, opts.height);

  data = dimple.filterData(data, "Owner", ["Aperture", "Black Mesa"])
  var myChart = new dimple.chart(svg, data);
  //myChart.setBounds(80, 30, 480, 330);
  var x = myChart.addCategoryAxis("x", opts.x);
  x.addOrderRule("Date");
  myChart.addMeasureAxis("y", opts.y);
  var s = myChart.addSeries(null, eval(opts.type));   //know eval is evil but don't know a way around it in this case
  myChart.draw();

</script>
