.Rproj.user
.Rhistory
.RData
.DS_Store
*.Rproj
inst/docs
inst/apps/oecd
inst/apps/notebook0
inst/apps/notebook2
inst/apps/strikeouts
inst/x512paths
inst/gh-pages
inst/livecoding
inst/d3timeline
tests
.cache
