<script>
  var spec = {{{ chartParams }}}
  var map = L.map(spec.dom)
    .setView(spec.center, spec.zoom);

    if (spec.provider){
      L.tileLayer.provider(spec.provider).addTo(map)    
    } else {
		  L.tileLayer(spec.urlTemplate, spec.layerOpts).addTo(map)
    }
     
    {{{ marker }}}
    
    {{{ circle }}}
    
    /*
    if (spec.circle){
      for (var c in spec.circle){
        var circle = L.circle(c.center, c.radius, c.opts)
         .addTo(map);
      }
    }
    */
    
    {{# addons.geocsv }}
      var geo_csv = L.geoCsv(null, {
        titles: spec.geocsv.titles,
        fieldSeparator: ';',
        lineSeparator: '\n',
        deleteDobleQuotes: true,
        firstLineTitles: false,
          onEachFeature: function (feature, layer) {
        var popup = '';
          for (var clave in feature.properties) {
            var title = geo_csv.getPropertyTitle(clave);
            popup += '<b>'+title+'</b><br />'+feature.properties[clave]+'<br /><br />';
          }
          layer.bindPopup(popup);
        }
      })
    
      geo_csv.addData(spec.geocsv.data)
      map.addLayer(geo_csv)
    {{/ addons.geocsv }}
    
    {{# addons.enablePopover }}
      var popup = L.popup();
      function onMapClick(e) {
        popup
          .setLatLng(e.latlng)
          .setContent("<b>Latitude:</b> " + e.latlng.lat.toFixed(2) + "<br />" +
            "<b>Longitude:</b> " + e.latlng.lng.toFixed(2))
          .openOn(map);
      }
      map.on('click', onMapClick);
    {{/ addons.enablePopover }}
    
</script>
