<script>
  var spec = {{{ chartParams }}}
  var map = L.map(spec.dom)
    .setView(spec.center, spec.viewOpts);

		L.tileLayer(spec.urlTemplate, spec.layerOpts)
     .addTo(map);
     
    {{{ marker }}}
    
    if (spec.geocsv.data.length > 0){
      var geo_csv = L.geoCsv(null, {
        titles: spec.geocsv.titles,
        fieldSeparator: ';',
        lineSeparator: '\n',
        deleteDobleQuotes: true,
        firstLineTitles: false,
          onEachFeature: function (feature, layer) {
        var popup = '';
          for (var clave in feature.properties) {
            var title = geo_csv.getPropertyTitle(clave);
            popup += '<b>'+title+'</b><br />'+feature.properties[clave]+'<br /><br />';
          }
          layer.bindPopup(popup);
        }
      })
    
      geo_csv.addData(spec.geocsv.data)
      map.addLayer(geo_csv)
    }
</script>
