<script type='text/javascript'> 
  var chartParams = {{{ chartParams }}}
  chartParams.element = document.querySelector('#{{{ chartId }}}')
  
  var graph{{{ chartId }}} = new Rickshaw.Graph(chartParams);
  
  graph{{{ chartId }}}.render();
  
  {{# yAxis }}
  var yAxis = new Rickshaw.Graph.Axis.Y( {
    graph: graph{{{ chartId }}},
	  orientation: '{{{ yAxis.orientation }}}',
	  tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
	  element: document.getElementById('yAxis{{{ chartId }}}'),
  });
  {{/ yAxis }}
  
  var hoverDetail = new Rickshaw.Graph.HoverDetail( {
    graph: graph{{{ chartId }}}
  });
</script> 