<!doctype html> 
<head>
  <link href="http://code.shutterstock.com/rickshaw/src/css/graph.css" rel="stylesheet">
  <link href="http://code.shutterstock.com/rickshaw/src/css/legend.css" rel="stylesheet">
  <link href="http://code.shutterstock.com/rickshaw/src/css/detail.css" rel="stylesheet">  
  <script src="http://code.shutterstock.com/rickshaw/vendor/d3.v2.js"></script>  
  <script src="http://code.shutterstock.com/rickshaw/rickshaw.min.js"></script> 
</head>
<body>
  <div id="{{{ params.dom }}}" class='Rickshaw'></div>
  <div id="yAxis{{{ params.dom }}}" class='Rickshaw'></div>
</body>
  
    {{{ script }}}
  
</html>