<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<title>{{{ page.title }}}</title>
<link rel="stylesheet" href="{{page.url.framework}}/stylesheets/styles.css">
<link rel="stylesheet" href="{{page.url.highlighter}}/css/{{page.hitheme}}.css">
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
<!--[if lt IE 9]>
  <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{{# page.background }}
<style>
body {
  background-image: url({{page.url.framework}}/{{{ page.background }}})
}  
</style>
{{/ page.background }}
