<header>
  <h1>{{{ page.title }}}</h1>
  <p>{{{ page.subtitle }}}</p>
  {{# page.github }}
  <p class="view">
    <a href="http://github.com/{{user}}/{{repo}}">
     View the Project on GitHub <small>{{user}}/{{repo}}</small>
    </a>
  </p>
  <ul>
    <li><a href="https://github.com/{{user}}/{{repo}}/zipball/master">
      Download <strong>ZIP File</strong>
    </a></li>
    <li><a href="https://github.com/{{user}}/{{repo}}/tarball/master">
      Download <strong>TAR Ball</strong>
    </a></li>
    <li><a href="http://github.com/{{user}}/{{repo}}">
      Fork On <strong>GitHub</strong></a>
    </li>
  </ul>
  {{/ page.github }}
</header>
