<script id="brushing">
var params = {{{ chartParams }}}
var getColors = d3.scale.linear()
  .domain(params.range)
  .range(params.colors)
  .interpolate(d3.interpolateLab);

var color = function(d) { return getColors(d[params.colorby]); };

  d3.parcoords()("#" + params.dom)
    .width(params.width)
    .height(params.height)
    .margin(params.padding)
    .data(params.data)
    .color(color)
    .alpha(0.4)
    .render()
    .shadows()
    .brushable()  // enable brushing
    .reorderable(); // enable moving axes
</script>
