<script type='text/javascript'> 
  var chartParams = {{{ chartParams }}}
  chartParams.element = document.querySelector('#{{{ chartId }}}')
  
  var graph{{{ chartId }}} = new Rickshaw.Graph(chartParams);
  
  graph{{{ chartId }}}.render();
  
  var x_axis = new Rickshaw.Graph.Axis.Time( { 
    graph: graph{{{ chartId }}} 
  } );
  
  {{# yAxis }}
  var yAxis = new Rickshaw.Graph.Axis.Y( {
    graph: graph{{{ chartId }}},
	  orientation: '{{{ yAxis.orientation }}}',
	  tickFormat: Rickshaw.Fixtures.Number.formatKMBT,
	  element: document.getElementById('yAxis{{{ chartId }}}'),
  });
  {{/ yAxis }}
  
  var hoverDetail{{{ chartId }}} = new Rickshaw.Graph.HoverDetail( {
    graph: graph{{{ chartId }}}
  });
  
  var legend{{{ chartId }}} = new Rickshaw.Graph.Legend( {
    graph: graph{{{ chartId }}},
    element: document.getElementById('legend{{{ chartId }}}')
  });

  var shelving{{{ chartId }}} = new Rickshaw.Graph.Behavior.Series.Toggle({
    graph: graph{{{ chartId }}},
    legend: legend{{{ chartId }}}
  });
</script> 